.header {
  display: flex;
  align-items: center;
  margin: 0 3rem;

  &__logo {
    color: $primary-color;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    margin-right: 2.5rem;
  }
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__li {
  margin-left: 1rem;

  .header__link {
    color: $white;
    font-size: 1.4rem;
    text-decoration: none;

    &:active,
    &:hover {
      font-weight: bold;
      color: #fff;
    }
  }
}
