

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  &__logo {
    color: $primary-color;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
  }
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__li a {
  color: $white;
  font-size: 1.4rem;
  text-decoration: none;
}